@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /*accent*/
    --blue: hsl(248, 32%, 49%);
    /*neutral*/
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 80%);
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0; padding: 0;
}


body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
}

main {
    background: url(./bg-intro-mobile.png) center/cover no-repeat, hsl(0, 100%, 74%);
    padding: 2em 0;
    line-height: 1.5;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
    text-align: center;    
}

header h1 {
    font-size: 28px;
}

header p {
    opacity: .9;
}

.try,
.terms,
button[type="submit"] {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    color: var(--grayish-blue);
}

.try {
    padding: 1.5rem;
    background-color: var(--blue);
    margin: 2rem 0 1rem;
}

.try b {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    color: var(--dark-blue);
}

.input {
    position: relative;
    font-weight: 500;
}

.input svg {
    display: none;
    position: absolute;
    right: 1em; top: 50%;
    transform: translate(0, -50%);
}

svg.is-open {
    display: initial;
}

input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    padding-left: 1em;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--green);
}

input.wrong {
    border: 2px solid var(--red);
}

.input label {
    position: absolute;
    top: 50%; left: 0;
    transform: translate(1em, -50%);
    opacity: .7;
    pointer-events: none;
    transition: .3s ease-in-out;
}

label.toped {
    transform: translate(1em, -110%);
    font-size: 14px;
}

.submit {
    text-align: center;
}

.terms {
    display: inline;
    color: var(--red);
    font-weight: 600;
}

button[type="submit"] {
    cursor: pointer;
    background-color: var(--green);
    padding: 1.2em;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--red);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: black;
}

@media screen and (min-width: 800px) {
    main {
        background: url(./bg-intro-desktop.png) center/cover no-repeat, hsl(0, 100%, 74%);
        position: relative;
    }

    .container {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        gap: 3rem;
    }

    .container header,
    .container section {
        flex-basis: 100%;
    }

    header {
        text-align: left;
    }

    header h1 {
        margin-bottom: 1rem;
    }

}